body
{
	background-image: url("../hatterVidi/háttér.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
  	height: 400px;

  	color: black;
}

#kepStilus
{
	background-size: 100% 100%;
}
#navBar
{
	opacity: 0.9;
}